/* Container */
.container {
    width: 100%;
}

/* Background */
.bg-white {
    background-color: #fff;
}
.bg-center {
    background-position: center;
}
.bg-no-repeat {
    background-repeat: no-repeat;
}

/* Border */
.border-gray-300 {
    border-color: #ebebeb;
}
.rounded {
    border-radius: 0.25rem;
}
.border-solid {
    border-style: solid;
}
.border-0 {
    border-width: 0;
}
.border {
    border-width: 1px;
}
.border-t {
    border-top-width: 1px;
}

/* Cursor */
.cursor-pointer {
    cursor: pointer;
}

/* Display */
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.table {
    display: table;
}
.hidden {
    display: none;
}

/* Float */
.float-left {
    float: left;
}

/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Font */
.font-mono {
    font-family: monaco, courier, monospace;
}
.font-light {
    font-weight: 300;
}
.font-normal {
    font-weight: 400;
}
.font-semibold {
    font-weight: 600;
}

/* Height */
.h-12 {
    height: 3rem;
}
.h-20 {
    height: 5rem;
}

/* Text */
.text-13 {
    font-size: 13px;
}
.text-15 {
    font-size: 15px;
}
.text-60 {
    font-size: 60px;
}
.text-2xl {
    font-size: 1.5rem;
}
.text-3xl {
    font-size: 1.875rem;
}

/* Line Height */
.leading-tight {
    line-height: 1.25;
}
.leading-normal {
    line-height: 1.5;
}
.leading-relaxed {
    line-height: 1.625;
}
.leading-1\.3 {
    line-height: 1.3;
}

/* Margin */
.my-8 {
    margin: 2rem auto;
}
.mx-auto {
    margin: 0 auto;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.ml-4 {
    margin-left: 1rem;
}
.
